<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--执行文件删除的任务 -->
    <batch:job id="taskletJob">
        <batch:step id="deleteFilesInDir">
            <batch:tasklet ref="fileDeletingTasklet"/>
        </batch:step>
    </batch:job>

    <bean id="fileDeletingTasklet" class="com.xmq.FileDeletingTasklet">
        <property name="directoryResource" ref="directoryResource"/>
    </bean>
    <bean id="directoryResource" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg value="E:\workspace2\SpringBatch2\target"/>
    </bean>

    <!--tomcat jdbc pool数据源配置 -->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
          destroy-method="close">
        <property name="poolProperties">
            <bean class="org.apache.tomcat.jdbc.pool.PoolProperties">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="034039"/>
            </bean>
        </property>
    </bean>

    <!-- spring batch 配置jobRepository -->
    <batch:job-repository id="jobRepository"
                          data-source="dataSource" transaction-manager="transactionManager"
                          isolation-level-for-create="REPEATABLE_READ" table-prefix="BATCH_"
                          max-varchar-length="1000"/>
    <!-- spring的事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- batch luncher -->
    <bean id="jobLauncher"
          class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository"/>
    </bean>
</beans>
